{{ define "head" }}
<link rel="stylesheet" href="/style/normalize.css" type="text/css">
<link rel="stylesheet" href="/style/sakura.css" type="text/css">
<meta property="og:site_name" content="zephyrtronium" />
<meta name="viewport" content="width=device-width, initial-scale=1.2">
<style>
	body { background-color: #eef4ee; max-width: 40em; }
	a { color: #2b7c00; }
	a:hover { color: #50b92d; }
	a:visited { color: #2b7c00; }
	a.permalink { color: inherit; }
	a.permalink:hover { text-decoration: underline; }
	pre { tab-size: 4; font-size: medium; background-color: #d5e7cf; }
	code { padding: 0 0.125em; background-color: #eef4ee; }
	li { margin-bottom: 0; }
	li>ul { margin-bottom: 0; }
	li>ol { margin-bottom: 0; }
	footer { font-size: small; text-align: center; }
	footer a, footer a:hover { color: inherit; text-decoration: underline; }
	footer a:hover { border-bottom: none; }
	p.date { text-align: right; font-style: italic; opacity: 0.75; font-size: medium; line-height: 1.15; margin-top: -1.15em; }

@media (prefers-color-scheme: dark) {
	body { background-color: #121212; color: #eef4ee; }
	a { color: #7dbe67; }
	a:hover { color: #40aa1d; }
	a:visited { color: #7dbe67; }
	pre { background-color: #121610; }
	code { background-color: #121212; }
}
</style>
{{end}}